In [57]:
import pandas as pd

In [58]:
b = pd.read_csv("Billing_Data.csv")
p = pd.read_csv("Patient_Data.csv")
b.head()

   PatientID  InsuranceCovered  FinalAmount
0        101              2000         3000
1        102              1500         3500
2        103              2500         5000
3        104              3000         3200
4        105              1000         4000

In [59]:
p.head()

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45

In [60]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         5 non-null      int64
 1   InsuranceCovered  5 non-null      int64
 2   FinalAmount       5 non-null      int64
dtypes: int64(3)
memory usage: 192.0 bytes

In [61]:
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 312.0+ bytes

In [62]:
# Select rows 1 to 5 (index 0 to 4)
subset = p.iloc[:,0:5]

# Drop the second column (index 1)
result = subset.drop(p.columns[1], axis=1)

print(result)

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN
5        101   Cardiology  Dr. Smith      5000.0

In [63]:
# Merge on a common column
combined_df = pd.merge(result, b, on='PatientID')
combined_df

,PatientID,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Cardiology,Dr. Smith,5000.0,2000,3000
1,102,Neurology,Dr. John,NaN,1500,3500
2,103,Orthopedics,Dr. Lee,7500.0,2500,5000
3,104,Cardiology,Dr. Smith,6200.0,3000,3200
4,105,Dermatology,Dr. Rose,NaN,1000,4000
5,101,Cardiology,Dr. Smith,5000.0,2000,3000

In [64]:
# Drop duplicates within that subset
cleaned_record = combined_df.drop_duplicates()
cleaned_record

,PatientID,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Cardiology,Dr. Smith,5000.0,2000,3000
1,102,Neurology,Dr. John,NaN,1500,3500
2,103,Orthopedics,Dr. Lee,7500.0,2500,5000
3,104,Cardiology,Dr. Smith,6200.0,3000,3200
4,105,Dermatology,Dr. Rose,NaN,1000,4000

In [65]:
cleaned_record.fillna(cleaned_record["BillAmount"].mean(),inplace = True)
cleaned_record

<ipython-input-65-fee637358092>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_record.fillna(cleaned_record["BillAmount"].mean(),inplace = True)

,PatientID,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,101,Cardiology,Dr. Smith,5000.000000,2000,3000
1,102,Neurology,Dr. John,6233.333333,1500,3500
2,103,Orthopedics,Dr. Lee,7500.000000,2500,5000
3,104,Cardiology,Dr. Smith,6200.000000,3000,3200
4,105,Dermatology,Dr. Rose,6233.333333,1000,4000

In [66]:
a = pd.merge(p,b,on = "PatientID")
a

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime,InsuranceCovered,FinalAmount
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00,2000,3000
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30,1500,3500
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00,2500,5000
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00,3000,3200
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45,1000,4000
5,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00,2000,3000

In [67]:
data = {"PatientID":107,"Name":"Kumar","Department":"Neurology","Doctor":"Dr.John","BillAmount":6300,"InsuranceCovered":2000,"FinalAmount":5000}
data

{'PatientID': 107,
 'Name': 'Kumar',
 'Department': 'Neurology',
 'Doctor': 'Dr.John',
 'BillAmount': 6300,
 'InsuranceCovered': 2000,
 'FinalAmount': 5000}

In [68]:
y = pd.DataFrame([data])
y

,PatientID,Name,Department,Doctor,BillAmount,InsuranceCovered,FinalAmount
0,107,Kumar,Neurology,Dr.John,6300,2000,5000

In [71]:
# Concatenate row-wise
updated_patients = pd.concat([a,y], ignore_index=True)

print(updated_patients)

   PatientID     Name   Department     Doctor  BillAmount  ReceptionistID  \
0        101    Alice   Cardiology  Dr. Smith      5000.0             1.0
1        102      Bob    Neurology   Dr. John         NaN             2.0
2        103  Charlie  Orthopedics    Dr. Lee      7500.0             1.0
3        104    David   Cardiology  Dr. Smith      6200.0             3.0
4        105      Eva  Dermatology   Dr. Rose         NaN             2.0
5        101    Alice   Cardiology  Dr. Smith      5000.0             1.0
6        107    Kumar    Neurology    Dr.John      6300.0             NaN

        CheckInTime  InsuranceCovered  FinalAmount
0  2023-01-10 09:00              2000         3000
1  2023-01-11 10:30              1500         3500
2  2023-01-12 11:00              2500         5000
3  2023-01-13 12:00              3000         3200
4  2023-01-14 08:45              1000         4000
5  2023-01-10 09:00              2000         3000
6               NaN              2000         5000

In [77]:
new_columns_df = {
    'InsuranceCovered':1500,
    'FinalAmount': 4000
}
new_columns_df

{'InsuranceCovered': 1500, 'FinalAmount': 4000}

In [81]:
i = pd.DataFrame([new_columns_df])
i

   InsuranceCovered  FinalAmount
0              1500         4000

In [ ]:
x = pd.concat([updated_patients,i])